
.content {
  box-sizing: border-box;
  height: 100px;
  width: 350px;
  margin-top: 25%;
  margin-left: 37%;
  border: 2px solid white;
  border-radius: 0.5em;
}
.contentText {
  font-size: 20px;
  color: darkblue;

  font-weight: bold;
  text-align: center;
}
